// Place all the styles related to the api/punchlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family:  cursive;
}

.punchline-container {
  display:flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
 }

.punchline-text {
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  margin-top: 20px;
}

.punchline {
  width: 800px;
  min-width: 400px;
  padding: 20px;
}

.punchline-text {
  font-size: 2.6em;
}

.punchline-author {
  margin-top: 40px;
  text-align: right;
}

.punchline-open, .punchline-close {
  opacity: 0.8;
  font-family: cursive;
}

.punchline-open {
  float: left;
  margin-right: 20px;
  font-size: 8em;
  font-weight: bold;
}

.punchline-close {
  float: right;
  margin-left: 20px;
  font-size: 8em;
  font-weight: bold;
}

.link-next, .link-previous {
  transition: all .2s ease-in-out;
  color: black;
  font-size: 4em;
  margin: 20px;
  opacity: 0.3;
  padding-bottom: 25px;
  &:hover {
    transform: scale(1.1);
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding-bottom: 10px;
  opacity: 0.5;
  a {
    color: black;
    &:link {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
